body{
    background-color: #10171e !important;
}

.nota{
    margin-bottom: 5%;
}

.blog{
    background-color: white;

}

.container img {
    width: 100% !important;
    height: auto;
}

.loltitle {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
