body{
    background-color: #10171e !important;
}


.nota{
    margin-top: 5%;
}

.card-body{
    text-align: center;
}

.container img {
    width: 100% !important;
    height: auto;
}

.lolbanner {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
.title{
    color: white;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}